ImageMagick-6.6.7
hwProjectionShader - release - 1.5
hwProjectionShader - release - 1.0
exrTools
rmwRender
renderViewCmd
VSMacros80
zlib-1.2.4
zlib-1.2.5
m2k
mysqlTest
GLUS
glsl330
x64
Debug
Release
bullet*
objTester
openexr*
mwe*
vxl*
setupRGBShaders*
rgbPass*
ilmbase*
!*.h
!*.cpp
*.*sdf
*.suo
*.sln
*.obj
*.dll.*
*.mll.*
*.lib
*.exp
*.ipch
*.pdb
*.user
*.filters
*.vc*proj*
*.tlog
*.log
*.dll
*.mll
*.lastbuildstate
